:root {
  --duration: 800ms;
}

@font-face {
  font-family: Vazir;
  src: url("./static/fonts/Vazir-Medium.woff2") format("woff2"),
    url("./static/fonts/Vazir-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Ephesis;
  src: url("./static/fonts/Ephesis-Regular.woff2") format("woff2"),
    url("./static/fonts/Ephesis-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body,
html {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
body {
  background-color: #072322;
}
main {
  display: flex;
  width: 100vw;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0px);
  transition: all 200ms;
}
.blur main {
  opacity: 0.25;
  filter: blur(5px);
}

main .weather .map-overlay.interval {
  background-color: rgba(0, 0, 0, 0.25);
}
main .weather {
  margin-top: 10px;
  width: 80vw;
  height: 85vh;
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  .bottom-overlay {
    width: calc(100% - 2em);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 3rem;
    left: 0em;
    right: 0em;
    margin: auto;
    font-size: 0.75em;
    color: #ffffff;
    z-index: 2;
    .image-copyright {
      font-family: "Ephesis";
      letter-spacing: 4px;
      color: #fff;
    }
    span {
      font-family: Vazir;
      position: relative;
      min-height: 40px;
      height: 3em;
      display: flex;
      align-items: center;
      justify-content: center;
      transition-property: color;
      transition-duration: 250ms;
      color: #fff;
      &:before {
        content: "";
        width: 40px;
        height: 40px;
        left: -10px;
        top: -10px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        transform: rotate(0deg) translate3d(0px, 0px, 0px);
        transform-origin: center center;
        transition-property: opacity;
      }
      @keyframes loading-rotate {
        0% {
          transform: rotate(0deg) translate3d(0px, 0px, 0px);
        }
        100% {
          transform: rotate(360deg) translate3d(0px, 0px, 0px);
        }
      }
      &.loading:before {
        background-image: url("./static/icons/import-loading.svg");
        animation-name: loading-rotate;
        animation-duration: 2000ms;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
      }
      &.loaded:before {
        background-image: url("./static/icons/import-wifi.svg");
      }
      &.error:before {
        background-image: url("./static/icons/import-error.svg");
        background-size: 50%;
      }
      &.top {
        color: rgba(0, 255, 0, 0.35);
      }
      &.down {
        color: rgba(255, 0, 0, 0.35);
      }
    }
  }
}
main .weather #map {
  width: 100%;
  height: 100%;
}
main .weather #video {
  display: none;
  position: absolute;
  width: 2000px;
  height: 2000px;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.map-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -1px;
  right: 0px;
  z-index: 1;
  left: -1px;
  margin: auto;
  display: flex;
  align-items: baseline;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
}
.map-overlay .bottom {
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: 35px;
  background-color: #072322;
  right: 0;
  left: -2px;
  margin: auto;
  bottom: -5px;
}

.map-overlay .cover {
  content: "";
  position: absolute;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  background-color: #072322;
  opacity: 0.9;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  z-index: -1;
}
main .weather .map-overlay .content-wrapper {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.rtl .weather .map-overlay .content-wrapper {
  direction: rtl;
}
.rtl .weather .map-overlay .content-wrapper .weather-data .temperature {
  direction: ltr;
}
main .weather .map-overlay .content-wrapper h1 {
  position: relative;
  margin: 0;
  b {
    font-family: Ephesis, Vazir;
    font-size: 3.5em;
    letter-spacing: 10px;
    color: #ffffff;
    opacity: 0.8;
    text-transform: capitalize;
    display: flex;
    white-space: pre;
    text-shadow: 3px 5px 0px rgba(255, 255, 255, 0.1);
  }
}
main .weather .map-overlay .content-wrapper .weather-data {
  font-family: Vazir;
  color: #ffffff;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
main .weather .map-overlay .content-wrapper .weather-data span {
  position: relative;
}

main .weather .map-overlay .content-wrapper .weather-data .info {
  background-image: url("./static/icons/import-info.svg");
  width: 30px;
  height: 30px;
  position: absolute;
  top: -25px;
  background-size: cover;
  cursor: pointer;
}

main
  .weather
  .map-overlay
  .content-wrapper
  .weather-data
  .info:hover
  .last-update {
  visibility: visible;
  opacity: 1;
}

.rtl
  main
  .weather
  .map-overlay
  .content-wrapper
  .weather-data
  .info
  .last-update {
  left: auto;
  right: 40px;
  direction: rtl;
}

.rtl main .weather .map-overlay .content-wrapper .weather-data .info {
  top: -22px;
  left: -30px;
}

main .weather .map-overlay .content-wrapper .weather-data .info .last-update {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 12px;
  white-space: pre;
  top: -8px;
  left: 34px;
  padding: 2px 10px;
  transition-property: visibility, opacity;
  transition-duration: 200ms;
  visibility: hidden;
  opacity: 0;
}

main .weather .map-overlay .content-wrapper .weather-data .unit {
  font-size: 55%;
  position: relative;
  top: -6px;
}

main .weather .map-overlay .content-wrapper .weather-data .temperature .unit {
  top: -15px;
  font-size: 40%;
}

main .weather .map-overlay .content-wrapper .weather-data .feels_like {
}

main .weather .map-overlay .content-wrapper .weather-data span .value-wrapper {
  display: inline-block;
  margin: 0 3px;
}

.rtl
  main
  .weather
  .map-overlay
  .content-wrapper
  .weather-data
  span
  .value-wrapper {
  direction: ltr;
}

.rtl main .weather .map-overlay .content-wrapper .weather-data span .value {
  display: inline-block;
  direction: ltr;
}
main .weather .map-overlay .content-wrapper .weather-data .temperature {
  font-size: 2.375em;
  line-height: 36px;
}
main
  .weather
  .map-overlay
  .content-wrapper
  .weather-data
  .weather-details-wrapper {
  display: flex;
  flex-direction: column;
  min-width: 68px;
  align-items: center;
  position: relative;
  margin-top: -70px;
}

.map-overlay .content-wrapper .weather-data .current-weather-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
  span {
    text-transform: capitalize;
  }
  .svg-icon {
    width: 82px;
    height: 82px;
    @media only screen and (max-width: 750px) {
      width: 52px;
      height: 52px;
    }
  }
}

.rtl .map-overlay .content-wrapper .weather-data .current-weather-icon {
  margin-left: 4em;
}

.map-overlay .content-wrapper .weather-data .current-weather-icon svg {
  width: 60px;
  height: 60px;
}
.weather-data .temp-feels-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.weather-data .current-weather-icon svg path {
  stroke: #ffffff;
  stroke-width: 3px;
  fill: transparent;
}

.weather-data .current-weather-icon svg circle {
  fill: #ffffff;
}

.weather-data .current-weather-icon svg circle:nth-of-type(1) {
  transform: translate3d(0px, 0px, 0px);
  animation-name: dot1;
  animation-iteration-count: infinite;
  animation-duration: calc(var(--duration) * 1);
}

.weather-data .current-weather-icon svg circle:nth-of-type(2) {
  transform: translate3d(0px, 0px, 0px);
  animation-name: dot;
  animation-iteration-count: infinite;
  animation-duration: calc(var(--duration) * 1.25);
  animation-delay: calc(var(--duration) / 6);
}

.weather-data .current-weather-icon svg circle:nth-of-type(3) {
  transform: translate3d(0px, 0px, 0px);
  animation-name: dot1;
  animation-iteration-count: infinite;
  animation-duration: calc(var(--duration) / 1.25);
  animation-delay: calc(var(--duration) / 6);
}

.weather-data .current-weather-icon svg circle:nth-of-type(4) {
  transform: translate3d(0px, 0px, 0px);
  animation-name: dot;
  animation-iteration-count: infinite;
  animation-duration: calc(var(--duration) * 1);
  animation-delay: calc(var(--duration) / 6);
}

.weather-data .current-weather-icon svg circle:nth-of-type(5) {
  transform: translate3d(0px, 0px, 0px);
  animation-name: dot;
  animation-iteration-count: infinite;
  animation-duration: calc(var(--duration) * 1.4);
  animation-delay: calc(var(--duration) / 7);
}

.weather-data .current-weather-icon svg circle:nth-of-type(6) {
  transform: translate3d(0px, 0px, 0px);
  animation-name: dot;
  animation-iteration-count: infinite;
  animation-duration: calc(var(--duration) * 1);
  animation-delay: calc(var(--duration) / 6);
}

.weather-data .current-weather-icon svg circle:nth-of-type(7) {
  transform: translate3d(0px, 0px, 0px);
  animation-name: dot;
  animation-iteration-count: infinite;
  animation-duration: calc(var(--duration) * 1.8);
  animation-delay: calc(var(--duration) / 8);
}

.weather-data .current-weather-icon svg circle:nth-of-type(8) {
  transform: translate3d(0px, 0px, 0px);
  animation-name: dot1;
  animation-iteration-count: infinite;
  animation-duration: calc(var(--duration) * 1.25);
  animation-delay: calc(var(--duration) / 12);
}

.weather-data .current-weather-icon svg circle:nth-of-type(9) {
  transform: translate3d(0px, 0px, 0px);
  animation-name: dot;
  animation-iteration-count: infinite;
  animation-duration: calc(var(--duration) / 1.4);
  animation-delay: calc(var(--duration) / 6);
}
@keyframes dot {
  0% {
    transform: translate3d(0px, 0px, 0px);
  }
  100% {
    transform: translate3d(0px, 50px, 0px);
  }
}

@keyframes dot1 {
  0% {
    transform: translate3d(0px, 0px, 0px);
  }
  100% {
    transform: translate3d(-10px, 50px, 0px);
  }
}
main .weather .map-overlay .content-wrapper .weather-data .feels_like {
  margin-top: 0px;
  margin-bottom: 10px;
}
main .weather .map-overlay .content-wrapper .weather-data .temperature:after {
  top: -20px;
  font-size: 40%;
}
main .weather .map-overlay .content-wrapper .weather-data .min-max-wrapper {
  display: flex;
  flex-direction: column;
  opacity: 0.75;
  align-items: center;
  justify-content: center;
  width: 5em;
}
main .weather .map-overlay .content-wrapper .weather-data .temp_min,
main .weather .map-overlay .content-wrapper .weather-data .temp_max {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.25);
  padding-left: 30px;
  width: 100%;
  height: 30px;
  &:before {
    position: absolute;
    left: 0;
    content: "";
    width: 30px;
    height: 100%;
    opacity: 0.75;
    margin-right: 10px;
    background-image: url("./static/icons/import-arrow-up.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    background-color: rgba(255, 255, 255, 0.25);
  }
}

main .weather .map-overlay .content-wrapper .weather-data .humidity {
  height: 20px;
  position: absolute;
  bottom: -46px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 5px 15px 5px 15px;
  text-align: center;
  line-height: 22px;
  > div {
    display: flex;
  }
  .unit {
    top: 0;
  }
  .humidity-icon {
    width: 26px;
    height: 26px;
    margin-right: 10px;
    svg {
      height: 26px;
      width: 26px;
      z-index: 10001;
      position: absolute;
      top: 52%;
      left: 16%;
      transform: translate(-50%, -50%);
      #rect4487 {
        fill: transparent;
      }
    }
    .overlay-drop {
      height: 16px;
      width: 16px;
      overflow: hidden;
      position: relative;
      margin: 0 auto;
      border-radius: 50%;
      transform: translate3d(-11px, 5px, 0px);
    }
    .water {
      background: white;
      position: relative;
      top: 50%;
      height: 200%;
      width: 200%;
      z-index: 1000;
      border-radius: 38%;
      left: -50%;
      transform: rotate(360deg);
      transition: all 1s ease;
      animation: wave 5s linear infinite, movetop 10s linear forwards;
    }
    @keyframes movetop {
      0% {
        top: 60%;
      }
      100% {
        top: 10px;
      }
    }
    @keyframes wave {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
  @media only screen and (max-width: 750px) {
    padding: 5px 11px 5px 11px;
  }
  @media only screen and (max-width: 450px) {
    padding: 5px 6px 5px 6px;
    .humidity-icon {
      width: 22px !important;
      height: 22px !important;
      svg {
        width: 22px !important;
        height: 22px !important;
      }
    }
    .overlay-drop {
      height: 14px !important;
      width: 14px !important;
      transform: translate3d(-5px, 5px, 0px) !important;
    }
  }
}

.rtl main .weather .map-overlay .content-wrapper .weather-data .temp_min,
.rtl main .weather .map-overlay .content-wrapper .weather-data .temp_max,
.rtl main .weather .map-overlay .content-wrapper .weather-data .humidity {
  direction: ltr;
}

main .weather .map-overlay .content-wrapper .weather-data .temp_min {
  margin-top: 1em;
  &:before {
    transform: rotate(180deg);
  }
}

.rtl main .weather .map-overlay .content-wrapper h1 b {
  letter-spacing: 2px;
  font-size: 4.5em;
}
.rtl main .weather .map-overlay .content-wrapper h1 span {
  right: unset;
  left: -25px;
}
.rtl main header {
  direction: rtl;
}
.rtl .location-icon {
  right: auto !important;
  left: 6px;
}
main .weather .map-overlay .content-wrapper h1 span {
  width: 30px;
  height: 30px;
  position: absolute;
  right: -25px;
  top: -10px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0.45;
}
main header {
  margin-top: 1.9em;
  display: flex;
  width: 80vw;
  position: relative;
  justify-content: space-between;
  form.search {
    width: 50%;
    position: relative;
    input {
      background-color: rgba(255, 255, 255, 0.25);
      border: 0;
      font-family: Vazir;
      color: #fff;
      font-size: 1em;
      letter-spacing: 1px;
      appearance: none;
      padding: 10px;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
    }
    .city-list-wrapper {
      position: absolute;
      display: flex;
      flex-direction: column-reverse;
      z-index: 2;
      padding: 0.25em;
      background-color: rgba(177, 177, 177, 0.2);
      font-family: Vazir;
      width: calc(100% - 8px);
      top: 30px;
      box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.25) inset;
      will-change: transform;
      transition-duration: 200ms;
      transition-property: visibility, transform, opacity;
      transform: translate3d(0px, -40px, 0);
      opacity: 0;
      visibility: hidden;
      list-style: none;
      li {
        cursor: pointer;
        color: #fff;
        padding: 0 1em;
        font-size: 16px;
        &:not(:first-of-type) {
          border-bottom: 1px solid #fff;
        }
      }
      &.active {
        visibility: visible;
        opacity: 1;
        transform: translate3d(0px, 0px, 0);
      }
    }
    .location-icon {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      top: 0;
      right: 6px;
      bottom: 0;
      margin: auto;
      background: rgba(255, 255, 255, 0.6);
      border-radius: 50%;
      box-shadow: 0 0 0 1px #fff;
      cursor: pointer;
      svg {
        margin-top: 4px;
        width: 70%;
        height: 70%;
        path {
          fill: #072322;
          stroke: #072322;
          stroke-width: 12px;
        }
      }
    }
  }
  &.left {
    .location-icon {
      left: auto !important;
      right: 6px !important;
    }
  }
}
.rtl main header form.search input {
  letter-spacing: 0;
}
main header.right {
  direction: rtl;
}
main header.left {
  direction: ltr;
}
main header form.search input:focus {
  outline: 0;
}
main header form.search input::placeholder {
  color: #bbbbbb;
}
main header button {
  width: 46px;
  height: 46px;
  border: 0;
  appearance: none;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  svg path,
  svg polygon {
    fill: rgba(255, 255, 255, 0.7);
  }
}

.portal-loading .logo svg.circle path {
  opacity: 1 !important;
}

.loaded .portal-loading .circle path {
  stroke-dashoffset: 0px !important;
  animation: unset;
}
.loading .portal-loading .circle path {
  animation-name: circle;
  animation-duration: 2000ms;
  animation-iteration-count: 1;
}
.loaded .portal-loading {
  opacity: 0;
  visibility: hidden;
}

@keyframes circle {
  0% {
    stroke-dashoffset: 620px;
  }
  5% {
    stroke-dashoffset: 610px;
  }
  15% {
    stroke-dashoffset: 570px;
  }
  20% {
    stroke-dashoffset: 560px;
  }
  30% {
    stroke-dashoffset: 500px;
  }
  40% {
    stroke-dashoffset: 370px;
  }
  45% {
    stroke-dashoffset: 370px;
  }
  60% {
    stroke-dashoffset: 190px;
  }
  70% {
    stroke-dashoffset: 70px;
  }
  75% {
    stroke-dashoffset: 40px;
  }
  100% {
    stroke-dashoffset: 40px;
  }
}

.digital-clock {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate3d(-40%, -50%, 0px);
  .time-wrapper {
    color: #ffffff;
    font-size: 5em;
    position: relative;
    width: 4.25em;
    text-shadow: 3px 5px 0px rgba(255, 255, 255, 0.2);
    display: flex;
    > div {
      display: flex;
    }
    .hour,
    .second {
      font-family: Ephesis, Vazir;
    }
    .minutes {
      font-size: 0.125em;
      font-family: Vazir;
      position: absolute;
      top: -0.5em;
      left: 0em;
      text-align: center;
    }
  }
}
.rtl main .weather .map-overlay .content-wrapper .time-wrapper {
  direction: ltr;
  font-size: 5.5em;
  width: 3.75em;
}
.portal-model {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 450px;
  width: 40vw;
  min-height: 150px;
  height: 30vh;
  background-color: rgba(0, 0, 0, 0.65);
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -20%, 0px);
  opacity: 0;
  visibility: hidden;
  transition: all 200ms;
  box-shadow: 0 0 0 1px #fff;
  &.active {
    transform: translate3d(-50%, -50%, 0px);
    opacity: 1;
    visibility: visible;
    &:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.15);
      transform: translate3d(0, 0, 0) scaleX(1);
      animation-name: portalModal;
      animation-duration: 2.5s;
      animation-iteration-count: 1;
      animation-timing-function: ease-in-out;
    }
    @keyframes portalModal {
      0% {
        transform: translate3d(0, 0, 0) scaleX(0);
      }
      100% {
        transform: translate3d(0, 0, 0) scaleX(1);
      }
    }
  }
  .close {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 20px;
    top: 15px;
    cursor: pointer;
    &:before,
    &:after {
      content: "";
      width: 100%;
      height: 1px;
      position: absolute;
      background-color: #ffffff;
      top: 10px;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(135deg);
    }
  }
  .text {
    font-family: Vazir;
  }
}
.portal-settings {
  position: fixed;
  width: 225px;
  height: 145px;
  right: 0;
  left: 0;
  margin: auto;
  bottom: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.4);
  visibility: hidden;
  opacity: 0;
  padding: 20px;
  transition: visibility, opacity 750ms;
  h6 {
    font-family: "Vazir", Sans-Serif, serif;
    margin: 0 10px 0px 0px;
  }
  div {
    display: flex;
    align-items: center;
    &:not(:last-of-type) {
      margin-bottom: 16px;
    }
  }
  .action-wrapper {
    justify-content: space-between;
    button {
      width: calc(50% - 10px);
      appearance: none;
      cursor: pointer;
      padding: 5px;
      background-color: transparent;
      border: 2px solid rgba(255, 255, 255, 0.75);
      color: #fff;
    }
  }
}

.rtl .portal-model {
  direction: rtl;
}

.rtl .weather .map-overlay .content-wrapper .weather-data .wind-speed .value {
  direction: rtl;
}

@media only screen and (max-width: 750px) {
  .city-list-wrapper {
    width: calc(100% - 6px) !important;
  }
  main header,
  main .weather {
    width: calc(90vw - 2em) !important;
    font-size: 12px;
  }
}

@media only screen and (max-width: 450px) {
  .city-list-wrapper {
    width: calc(100% - 5px) !important;
    top: 28px !important;
  }
  main header button {
    width: 38px;
    height: 38px;
  }
  main header,
  main .weather {
    width: calc(95vw - 1em) !important;
    font-size: 10px;
  }
}

.light {
  main .weather .map-overlay .content-wrapper h1 b,
  .digital-clock .time-wrapper,
  .weather-data .temp-feels-wrapper,
  .map-overlay .content-wrapper .weather-data .current-weather-icon,
  main .weather .map-overlay .content-wrapper .weather-data span,
  main .weather .bottom-overlay .image-copyright {
    color: #000;
  }
  main header button svg path,
  main header button svg polygon {
    fill: #000;
  }
  main .weather .map-overlay .content-wrapper .weather-data .info,
  main .weather .map-overlay .content-wrapper .weather-data .temp_min:before,
  main .weather .map-overlay .content-wrapper .weather-data .temp_max:before,
  main .weather .map-overlay .content-wrapper .weather-data .humidity:before,
  main .weather .bottom-overlay span:before {
    filter: brightness(0);
  }
  main header form.search input {
    background-color: rgba(0, 0, 0, 0.15);
  }
  .digital-clock .time-wrapper,
  main .weather .map-overlay .content-wrapper h1 b {
    text-shadow: 3px 5px 0px rgba(0, 0, 0, 0.2);
  }
  .portal-settings .action-wrapper button {
    color: #000;
    border: 2px solid rgba(0, 0, 0, 0.75);
  }
}
