@font-face {
    font-family: Vazir;
    src: url('./font/Vazir-Medium.eot');
    src: url('./font/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
         url('./font/Vazir-Medium.woff2') format('woff2'),
         url('./font/Vazir-Medium.woff') format('woff'),
         url('./font/Vazir-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
    body, html {
        padding: 0;
        margin: 0;
    }
    body {
        background-color: #072322;
    }
    main {
        display: flex;
        height: 100vh;
        width: 100vw;
        align-items: center;
        flex-direction: column;
    }
    main header {
        margin-top: 20px;
        display: flex;
        width: 80vh;
        justify-content: space-between;
    }
    main .weather {
        margin-top: 10px;
        width: 80vh;
        height: calc(80vh + 40px);
        position: relative;
    }
    main .weather #map {
     width: 100%;
     height: 100%;
     overflow: hidden;
    }
    .map-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        right: 0;
        z-index: 1;
        left: 0;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .map-overlay .bottom {
        content: "";
        position: absolute;
        width: calc(100%  + 2px);
        height: 35px;
        background-color: #072322;
        right: 0;
        left: 0;
        margin: auto;
        bottom: -2px;
    }

    .map-overlay .cover {
        content: "";
        position: absolute;
        width: calc(100% + 2px);
        height: 100%;
        background-color: #072322;
        opacity: 0.90;
        right: 0;
        left: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        z-index: -1;
    }
    main .weather .map-overlay .content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    main .weather .map-overlay .content-wrapper.rtl {
        direction: rtl;
    }
    main .weather .map-overlay .content-wrapper h1 {
        position: relative;
        margin: 0;
    }
    main .weather .map-overlay .content-wrapper h1 b {
       font-family: Ephesis, Vazir;
       font-size: 70px;
       letter-spacing: 10px;
       color: #ffffff;
       opacity: 0.80;
       text-transform: capitalize;
       text-shadow: 3px 5px 0px rgb(255 255 255 / 10%);
    }
    main .weather .map-overlay .content-wrapper .weather-data {
        font-family: Vazir;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    main .weather .map-overlay .content-wrapper .weather-data span {
        position: relative;
    }
    main .weather .map-overlay .content-wrapper .weather-data .temperature {
        font-size: 40px;    
    }
    main .weather .map-overlay .content-wrapper .weather-data .feels_like {
        margin-bottom: 20px;
        margin-top: 10px;
    }
    main .weather .map-overlay .content-wrapper .weather-data .temperature:after,
    main .weather .map-overlay .content-wrapper .weather-data .feels_like:after, 
    main .weather .map-overlay .content-wrapper .weather-data .temp_max:after,
    main .weather .map-overlay .content-wrapper .weather-data .temp_min:after {
        content: "°";
    }
    main .weather .map-overlay .content-wrapper .weather-data .temp_min,
    main .weather .map-overlay .content-wrapper .weather-data .temp_max {
        padding-left: 40px;
        margin: 0 8px;
    }
    main .weather .map-overlay .content-wrapper .weather-data .temp_min:before,
    main .weather .map-overlay .content-wrapper .weather-data .temp_max:before {
        content: "";
        position: absolute;
        bottom: 0;
        top: 0;
        margin: auto;
        left: 0px;
        width: 30px;
        height: 30px;
        background-image: url(./static/icons/arrow-up.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70%;
        box-shadow: 0 0 0 1px #ffffff;
    }
    main .weather .map-overlay .content-wrapper .weather-data .temp_min:before {
        transform: rotate(180deg);
    }
    
    main .weather .map-overlay .content-wrapper.rtl h1 b {
        letter-spacing: 2px;
        font-size: 85px;
    }
    main .weather .map-overlay .content-wrapper.rtl h1 span {
        right: unset;
        left: -25px;
    }
    main header.rtl {
        direction: rtl;
    }
    /* main .weather .map-overlay .content-wrapper h1 span {
        width: 150%;
        max-width: 350px;
        height: 340%;
        max-height: 315px;
        position: absolute;
        margin: auto;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        opacity: 0.1;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    } */
    main .weather .map-overlay .content-wrapper h1 span {
        width: 30px;
        height: 30px;
        position: absolute;
        right: -25px;
        top: -10px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        opacity: 0.45;
    }
    main header form.search {
        width: 50%;
    }
    main header form.search input {
        background-color: rgb(255 255 255 / 25%);
        border: 0;
        font-family: Vazir;
        color: #fff;
        font-size: 16px;
        letter-spacing: 1px;
        appearance: none;
        padding: 10px;
        width: 100%;
    }
    main header.rtl form.search input { 
        letter-spacing: 0;
    }
    main header form.search input:focus {
        outline: 0;
        box-shadow: 0 0 0px 1px rgb(255 255 255 / 60%);
    }
    main header form.search input::placeholder {
        color: #bbbbbb;
    }
    main header button {
        width: 46px;
        height: 46px;
        border: 0;
        appearance: none;
        background-color: rgb(255 255 255 / 30%);
        cursor: pointer;

    }
    main header button svg path, main header button svg polygon {
        fill: rgb(255 255 255 / 70%);
    }